body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#search-form {
  margin: 15px 0;
  width: 450px;
}
.container {
  margin-top: 20px;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 35%, rgba(208,206,206,1) 100%);
  );
  max-width: 450px;
  border-radius: 20px;
  border: solid 2.5px #9aa5a5;
  box-shadow: 3px 3px 3px #9aa5a5;
}
.icons {
  width: 60px;
  margin-bottom: 8px;
}

#icon1 {
  width: 35%;
  margin: 0 auto;

}
.col-6 {
  font-size: 18px;
  margin-top: 15px;
}
.col-2 {
  font-weight: bold;
  font-size: 24px;
  margin-top: 8px;
}
h1 {
  text-align: left;
  margin: 15px; 
  margin-bottom: 0;
}

#currentTime {
  text-align: left;
  margin: 0 15px;
  font-size: medium;
}

#description {
  text-align: left;
  margin-bottom: 20px;
  margin: 0 15px;

}
#description:first-letter {
  text-transform: capitalize;
}
#currentTemp {
  text-align: center;
  font-size: 45px;
}

.units {
  font-size: 20px;
text-align: center;
position: relative;
left: 55px;
bottom: 55px;
}
.conditions {
position: relative;
bottom: 30px;
left: 110px;
}
.btn-outline-success {
  background-color: #719EDF;
  color: white;
  border: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn-outline-success:hover {
  background-color: #4987dd;
}
.btn-outline-success:click 
.input-group {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.open-source {
  font-size: 13px;
  display: block;
  text-align: center;
  margin-top: 5px;
}
.open-source-name {
  font-size: 13px;
  display: block;
  text-align: center;
}